@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
 font-size: calc(10px + (vw / 192));
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.curve-line {
  position: absolute;
  bottom: -10px; /* Adjust to position below the text */
  left: 0;
  width: 150px; /* Width of the curve */
  height: 20px; /* Height of the curve */
  border-top: 2px solid #4fc3f7; /* Curve color */
  border-radius: 100px; /* Creates the curve */
  animation: move-curve 2s linear infinite; /* Animation effect */
}

@keyframes move-curve {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.underline {
   position: absolute;
  bottom: -10px; /* Adjust the curve position below the text */
  left: 0;
  width: 100%; /* Full width of the underline */
  height: 10px; /* Adjust height for the curve */
  background: none;
  border-bottom: 3px solid ; /* Line color */
  border-radius: 50%; /* Create the curve */
  animation: animate-curve 5s linear infinite ; /* Continuous animation */
  transform-origin: left; /* Start animation from the left */
}

@keyframes animate-curve {
  0% {
    transform: scaleX(0); /* Start with no line */
  }
  100% {
    transform: scaleX(1); /* Fully expand the curved line */
  }
}

body, html {
  font-size: 1.25vw !important;
}



/* Medium screens */
@media screen and (max-width: 1025px) {
  body, html {
    font-size: 1.56vw !important;
  }
}

/* Large screens */
@media screen and (max-width: 1281px) {
  body, html {
    font-size: 1.25vw !important;
  }
}

/* Small screens */
@media screen and (max-width: 767px) {
  body, html {
    font-size: 4.2667vw !important;
  }
}

/* Ultra-wide screens: Scale smoothly instead of fixing */
@media screen and (min-width: 1536px) {
  body, html {
    font-size: 20px !important; /* Keeps proportional growth */
  }
}







